@import "../../styles/variables.scss";

.gallery-item {
  box-sizing: border-box;
  width: 23%;
  margin: 0 0 20px 0;

  color: $black;

  border-radius: $border-radius-m;
  box-shadow: 0 0 5px 1px $bg-light;

  &__image {
    width: 100%;

    border-radius: $border-radius-m $border-radius-m 0 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 5px 10px;

    background-color: $white;
  }

  &__buttons {
    align-items: center;
    align-self: flex-end;
  }

  &__icon {
    font-size: $unicode-font-size;

    background-color: $transparent;
  }

  &__time,
  &__date {
    font-size: $font-size-m;
  }

  &__time {
    margin: 0 10px 0 0;
  }
}
