@import "../../styles/variables.scss";

.toolbox {
  padding: 10px 10px 10px 0;

  background-color: $bg-color;

  &__tool-group_layout_row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    & > :nth-child(n) {
      margin: 0 5px 0 0;
    }
  }

  &__margin-bottom-s {
    margin: 0 0 20px 0;
  }

  &__margin-bottom-m {
    margin: 0 0 35px 0;
  }

  &__layout_row {
    display: flex;
  }

  &_width {
    width: 45%;
  }
}
