@import "../../styles/variables.scss";

.button {
  font-size: $font-size-l;

  background-color: $white;
  background-color: $button-color;
  border: none;
  border-radius: $border-radius-m;
  cursor: pointer;
}
