@import "../../styles/variables.scss";

.button {
  font-size: $button-font-size;

  background-color: $white;
  background-color: $button-color;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
