@import "../../styles/variables.scss";

.input-number {
  &__label {
    position: relative;
  }

  &__label::after {
    content: attr(data-label);
    position: absolute;
    top: 100%;
    left: 0;

    display: block;

    font-size: $font-size-xs;
    color: $text-color;
  }

  &__input {
    box-sizing: border-box;
    width: calc($tool-width + 5px);
    height: $tool-height;
    padding: 5px 0 5px 5px;

    font-size: $font-size-s;

    border: none;
    border-radius: $border-radius-s;
  }
}
