@import "../../styles/variables.scss";
$itemsPNG: bubbles, nested, no;

@each $item in $itemsPNG {
  .radio-button__label_type_#{$item} {
    background: url("../../img/#{$item}.png") no-repeat center;
    background-size: $tool-bg-size;
  }
}
