$text-color: #dbdbdb;
$title-color: #e7e3e3;
$button-color: #dddddd;
$bg-color: #292b2c;
$bg-light: #dddddd;
$transparent: transparent;
// #434647
// background-color: #e7e3e3;
$black: #000000;
$white: #ffffff;
$border-color: #4d4d4e;
//
$logo-font-size: 44px;
$unicode-font-size: 26px;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
//
$border-radius-s: 5px;
$border-radius-m: 8px;
$tool-width: 30px;
$tool-height: 30px;
$tool-bg-size: 80%;
