@import "../../styles/variables.scss";

.radio-button {
  &__label {
    display: block;
    box-sizing: border-box;
    width: $tool-width;
    height: $tool-height;

    border-radius: $border-radius-s;
    cursor: pointer;
  }

  &__label_status_checked {
    background-color: $border-color !important;
  }

  &__input {
    display: none;
  }
}
