@import "../../styles/variables.scss";

.radio-button {
  &__label {
    display: block;
    width: 35px;
    height: 35px;

    border-radius: 5px;
    cursor: pointer;
  }

  &__label_status_checked {
    background-color: $border-color !important;
  }

  &__input {
    display: none;
  }
}
