.tool-opacity {
  position: relative;

  vertical-align: middle;

  & :nth-child(n) {
    margin: 0 0 0 5px;
  }

  &:after {
    content: attr(data-label);
    position: absolute;
    top: 85%;
    left: 0;

    display: block;
    width: 50px;
    margin: 0 0 0 5px;

    font-size: 10px;
    color: #c4c4c4;
  }

  &__input_type_range {
    box-sizing: border-box;
    width: 60%;
  }

  &__input_type_number {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    padding: 5px 0 5px 5px;

    font-size: 12px;

    border: none;
    border-radius: 5px;
  }
}
