.tool-shadow {
  & > :nth-child(n) {
    margin-bottom: 10px;
  }

  &__label {
    position: relative;

    display: flex;

    vertical-align: middle;
  }

  &__label::after {
    content: attr(data-label);
    position: absolute;
    top: 100%;
    left: 0;

    display: block;
    width: 40px;
    height: 100px;

    font-size: 10px;
    color: #c4c4c4;
  }

  &__input {
    box-sizing: border-box;
    width: 40px;
    height: 30px;
    padding: 5px;
  }
}
