@import "../../styles/variables.scss";

.color-picker {
  &__label {
    position: relative;

    display: block;
    box-sizing: border-box;
    width: $tool-width;
    height: $tool-height;
    padding: 10px;

    border: 3px solid $border-color;
    border-radius: $border-radius-s;

    &::after {
      content: "color";
      position: absolute;
      top: calc(100% + 3px);
      left: 0;

      display: block;

      font-size: $font-size-xs;
      color: $text-color;
    }
  }

  &__input {
    display: none;
  }
}
