@import "./styles/variables.scss";

.temp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // background-color: $bg-color;
}

.app {
  display: flex;

  background-color: $bg-color;
  box-shadow: 0 0 5px 5px $bg-light;

  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 0 10px 10px;
  }

  &__logo {
    width: 70%;
    margin: 0;

    font-size: $logo-font-size;
    color: $title-color;
  }

  &__buttons-group {
    display: flex;
  }

  &__button-download-image {
    width: 20px;
  }

  &__button-download {
    width: 40px;
    height: 40px;
  }

  &__button-save-to-galery {
    width: 70%;
  }

  &__button-save-to-galery,
  &__button-download {
    border: 1px solid $bg-color;
  }

  &__link {
    vertical-align: middle;
    color: $black;
    text-decoration: none;
  }
}

h3 {
  margin: 0;

  font-size: $toolbox-title-font-size;
}
