.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;

  background-color: #dddddd;

  &__toolbox {
    width: 75%;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
  }

  &__title {
    width: 25%;

    text-align: center;
  }
}
