.app {
  display: flex;

  background-color: #292b2c;

  &__box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
  }

  &__title {
    width: 70%;
    margin: 0;

    font-size: 44px;
    color: #e7e3e3;
    color: #c4c4c4;
  }

  &__buttons-group {
    display: flex;

    &:first-child {
      margin-bottom: 10px;
    }
  }

  &__button-save-to-galery,
  &__button-download {
    border: 1px solid #292b2c;
  }

  &__link {
    vertical-align: middle;
    color: #000000;
    text-decoration: none;
  }
}
